/* custom setting */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/* font collection */
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&family=Montserrat:ital,wght@0,600;0,700;1,400&family=Poppins:wght@500&family=Signika:wght@400;500;700&family=Source+Serif+Pro&family=Vollkorn&display=swap');
*{
    margin:0 auto;
    padding:0;
    box-sizing: border-box;

}
body{
    font-family: 'Montserrat', sans-serif;
}

/* header top styles */

/* =============common css========== */
   

nav{
    font-weight: 300px;
    margin-left: 30px;
    margin-top: 40px;
    padding:15px;
}

.start-journey{
    font-size: 50px;
}
.primary-button{
    margin-top: 30px;
    background-color: hotpink;
    padding:10px 35px;
    border-radius: 30px;
}
.starting-title{
display:grid;
grid-template-columns: repeat(2, 1fr);
margin-left:30px;
margin-top: 30px;
padding-top: 20px;
padding-left: 20px;
margin-bottom: 30px;
}
.elements img{
    width:70%;
   }
    .popular-item h2{
       margin:50px;
       font-size: 30px;
       display:inline-block;
   }
  .items{
      display:grid;
      grid-template-columns: repeat(3, 1fr);
      grid-row-gap:5px;
    
  }

   